@(title: String, css: Html = Html(""))(content: Html)
@maintemplate.maintemplate(title, css) {

    <div id="body" class="container" ng-app="app">

        <div id="fileupload" class="pagination-centered" ng-controller="mainCtrl">
            <form action="/upload" ng-upload>
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="icon-plus icon-white"></i>
                    <span>Upload file...</span>
                    <input id="file" type="file" name="file">
                    </span>
                <br/>
                <br/>
                <div id="filename">No file selected</div>
                <br/>
                <button type="button" class="btn btn-primary start" type="submit" value="Upload file"
                upload-submit="results(content, completed)">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
            </form>
        </div>

        @*<div ng-controller="ProgressController" class="well pagination-centered text-center">
        <progress percent="dynamicObject" class="progress-striped active"></progress>
        <p>Value: {{dynamicObject.value}}</p>
        </div>*@



    </div>
}
